<div class="movie-details mt-5">
  <div class="container">
    <div class="row details">


        <div class="col col-sm-12 col-lg-4">
          <div class="movie-image">
            <img class="w-100" src="/assets/images/wido.jpg" alt="">
          </div>
        </div>

        <div class="col-lg-8">
          <div class="movie-info">

            <div class="top d-flex align-items-center justify-content-between">
              <h2 class="movie-title mt-4 fw-bold">Black Widow</h2>
              <div class="wish-icon fs-3">
                <button class="wish"><i class="fa-regular fa-heart"></i></button>
              </div>
            </div>

            <p class="movie-date text-secondary mb-0">Sep 25, 2017</p>

            <div class="Rating d-flex gap-3 align-items-center mt-4">
              <div class="stars fs-4">⭐⭐⭐⭐⭐</div>
              <div class="rate-number">99231</div>
            </div>

            <div class="movie-description mt-4">
              <p class="fs-5 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore beatae molestiae incidunt quod quisquam, error quae!
                Fugit modi, inventore ex aspernatur repellendus illo quae ipsam ea in,
                Fugit modi, inventore ex aspernatur repellendus illo quae ipsam ea in,
                quia corporis officiis.</p>
            </div>

            <div class="movie-categories d-flex align-items-center gap-3 mt-4">
              <div class="category">Action</div>
              <div class="category">Crime</div>
              <div class="category">Thriller</div>
            </div>

            <div class="duration-lang mt-4 d-flex align-items-center gap-5">
              <div class="duration">
                <p class="fw-bold d-flex gap-4">Duration: <span class="fw-normal">134 Min.</span></p>
              </div>
              <div class="lang">
                <p class="fw-bold d-flex gap-4">Languages: <span class="fw-normal">English</span></p>
              </div>
            </div>

            <div class="logo mt-3">
              <img class="" src="/assets/images/logo.png" alt="">
            </div>

            <div class="website mt-4">
              <a class="d-flex gap-2 align-items-center web-link" href="">Website<i class="fa-solid fa-link"></i></a>
            </div>

          </div>
        </div>

    </div>

    <div class="row">
      <div class="recommendations mt-4">

        <h3 class="fs-1">Recommendations</h3>

        <div class="recomend-cards mt-4 mb-4">

          <div class="row">

            <div class="col col-sm-12 col-md-6 col-lg-2">
              <div class="card mb-4 p-2">1</div>
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-2">
              <div class="card mb-4 p-2">1</div>
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-2">
              <div class="card mb-4 p-2">1</div>
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-2">
              <div class="card mb-4 p-2">1</div>
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-2">
              <div class="card mb-4 p-2">1</div>
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-2">
              <div class="card mb-4 p-2">1</div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>