<div class="movie-details mt-4">
  <div class="container">
    <div class="row">


        <div class="col col-sm-12 col-lg-4">
          <div class="movie-image">
            <img class="img-fluid" src="/assets/images/wido.jpg" alt="">
          </div>
        </div>

        <div class="col-lg-8">
          <div class="movie-info">

            <div class="top d-flex align-items-center justify-content-between">
              <h2 class="movie-title mt-4 fw-bold">Black Wido</h2>
              <div class="wish-icon fs-3">
                <button class="wish"><i class="fa-regular fa-heart"></i></button>
              </div>
            </div>

            <p class="movie-date text-secondary">Sep 25, 2017</p>

            <div class="Rating d-flex gap-3 align-items-center">
              <div class="stars fs-4">⭐⭐⭐⭐⭐</div>
              <div class="rate-number">99231</div>
            </div>

            <div class="movie-description mt-4">
              <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore beatae molestiae incidunt quod quisquam, error quae!
                Fugit modi, inventore ex aspernatur repellendus illo quae ipsam ea in,
                quia corporis officiis.</p>
            </div>

            <div class="movie-categories d-flex align-items-center gap-3">
              <div class="category p-1">Action</div>
              <div class="category p-1">Crime</div>
              <div class="category p-1">Thriller</div>
            </div>

          </div>
        </div>


    </div>
  </div>
</div>