
/* New Design for Nav bar */
.navbar {

  background: linear-gradient(45deg, #4337a5, #766afc);
  backdrop-filter: blur(30px);
  top: 0;
  opacity: 90%;
  position: sticky;
  z-index: 9999;
    

}
.navbar-brand {
    color: white;
    font-size: 20px;
  }
  .navbar-brand:hover{
    color: #ffe353; 
  }
  .navbar-brand:active{
    color: #eeb12b; 
  }
  /* New watch List cssBadge design  */
.custom-badge {
  background-color: black;
  font-size: 19px; 
  font-weight: bold; 
  padding: 6px 10px; 
  border-radius: 999px; 
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);  */
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.custom-badge:hover {
  transform: scale(1.1); 
  background-color: #c82333; 
}
/* //////////////////////////// */