body{

    background-color: #222B31  !important;

    font-family: "Montserrat" , serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    font-weight: 800 !important;
}
